<div class="auth-container">
  <!-- PANTALLA DE LOGIN -->
  <div *ngIf="!isRegisterMode" class="card">
    <h2>Sistema POS - Ingreso</h2>

    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="login-legajo">Legajo</label>
        <input
          type="text"
          id="login-legajo"
          [(ngModel)]="loginData.legajo"
          name="legajo"
          placeholder="Ej: 1001"
          required
        />
      </div>

      <div class="form-group">
        <label for="login-password">Contraseña</label>
        <input
          type="password"
          id="login-password"
          [(ngModel)]="loginData.password"
          name="password"
          placeholder="••••••••"
          required
        />
      </div>

      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-primary">Iniciar Sesión</button>
    </form>

    <div class="switch-mode">
      <p>¿No tenés usuario?</p>
      <button type="button" class="btn-secondary" (click)="toggleMode()">
        Registrar nuevo usuario
      </button>
    </div>
  </div>

  <!-- PANTALLA DE REGISTRO -->
  <div *ngIf="isRegisterMode" class="card">
    <h2>Registrar Usuario</h2>

    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="reg-legajo">Legajo</label>
        <input
          type="number"
          id="reg-legajo"
          [(ngModel)]="registerData.legajo"
          name="regLegajo"
          placeholder="Ej: 1001"
          required
        />
      </div>

      <div class="form-group">
        <label for="reg-name">Nombre completo</label>
        <input
          type="text"
          id="reg-name"
          [(ngModel)]="registerData.name"
          name="regName"
          placeholder="Ej: Santiago"
          required
        />
      </div>

      <div class="form-group">
        <label for="reg-password">Contraseña</label>
        <input
          type="password"
          id="reg-password"
          [(ngModel)]="registerData.password"
          name="regPassword"
          placeholder="Mínimo 6 caracteres"
          required
        />
      </div>

      <div class="form-group">
        <label for="reg-rol">Rol</label>
        <select id="reg-rol" [(ngModel)]="registerData.rol" name="regRol">
          <option value="USER">Cajero / Usuario</option>
          <option value="ADMIN">Administrador</option>
        </select>
      </div>

      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-primary">Guardar Registro</button>
    </form>

    <div class="switch-mode">
      <p>¿Ya tenés cuenta?</p>
      <button type="button" class="btn-secondary" (click)="toggleMode()">
        Volver al Login
      </button>
    </div>
  </div>
</div>